{% extends 'base.html' %}

{% block css %}
<link href="/static/home.css" rel="stylesheet">
{% endblock %}

{% block top-content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <div class="text-center">
                <h1>Submit a movie title</h1>
                    <form method="POST" action="{% url 'movie_picker:new_movie' %}">
                        {{ form.title }}
                        {% csrf_token %}
                    </form>
        </div>
        </div>
   </div>
</div>
{% endblock %}

{% block main-content %}
<table id="id_list_table" class="table">
    {% for movie in movies %}
      <tr><td>{{ forloop.counter}}: {{ movie.title }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
