{% extends 'base.html' %}

{% block css %}
<link href="/static/home.css" rel="stylesheet">
{% endblock %}

{% block top-content %}
    <h1>Submit a movie title</h1>
    <form method="POST" action="{% url 'movie_picker:new_movie' %}">
        {{ form.title }}
        {% csrf_token %}
    </form>

{% endblock %}

{% block main-content %}
<table id="id_list_table" class="table">
    {% for movie in movies %}
      <tr><td>{{ forloop.counter}}: {{ movie.title }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
