{% extends 'base.html' %}

{% block css %}
<link href="/static/home.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Super Movie Picker</a>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class=nav-item active">
          {{ user.username }}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/movie_picker/accounts/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
      </div>
    {% endif %}

</nav>

{% endblock %}

{% block top-content %}
    <h1>Submit a movie title</h1>
    <form method="POST" action="{% url 'movie_picker:new_movie' %}">
        {{ form.title }}
        {% csrf_token %}
    </form>

{% endblock %}

{% block main-content %}
<table id="id_list_table" class="table">
    {% for movie in movies %}
      <tr><td>{{ forloop.counter}}: {{ movie.title }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
